:root {
  --controls-height: 26px;
}

main {
  height: 3500px;
}

video {
  width: 100%;
  height: auto;
}

.video-wrapper {
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}
.wrapper{
  position: relative;
}
.button{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 300px;
  border: none;
  z-index: 99;
  background: transparent;
  color: transparent;
  transition: all ease-in-out 100ms;
  font-size: 4em;
}
.button.active{
  background: black;
  opacity: .5;
  backdrop-filter: blur(2px);
  color: white;
}
#forFive{
  left: 0;
}
#favFive{
  right: 0;
}
.controls {
  visibility: hidden;
  align-self: center;
  min-height: var(--controls-height);
  margin-top: calc(var(--controls-height) * 2.5 * -1);
  padding: 1rem;
  background-color: rgb(128 128 128 / 35%);
  color: white;
  border-radius: 30px;
  font-family: sans-serif;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
